<section class="content-header">
  <h1>
    Dashboard
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <div class="col-md-3 col-xs-12">
    <mk-box-small backgroundColor="blue" iconStyleClass="fa fa-shopping-cart">
      <mk-box-small-header>{{compras}}</mk-box-small-header>
      <mk-box-small-content>Compras</mk-box-small-content>
      <mk-box-small-footer>Realizadas en el mes</mk-box-small-footer>
    </mk-box-small>
  </div>

  <div class="col-md-3 col-xs-12">
    <mk-box-small backgroundColor="green" iconStyleClass="fa fa-eur">
      <mk-box-small-header>{{mediaAhorro}}</mk-box-small-header>€
      <mk-box-small-content>Media ahorro</mk-box-small-content>
      <mk-box-small-footer>En el mes actual</mk-box-small-footer>
    </mk-box-small>
  </div>

  <div class="col-md-3 col-xs-12">
    <mk-box-small backgroundColor="yellow" iconStyleClass="fa fa-bar-chart">
      <mk-box-small-header>{{totalAhorro}}</mk-box-small-header>
      <mk-box-small-content>Total Ahorro</mk-box-small-content>
      <mk-box-small-footer>En el mes</mk-box-small-footer>
    </mk-box-small>
  </div>

  <div class="col-md-3 col-xs-12">
    <mk-box-small backgroundColor="red" iconStyleClass="fa fa-pie-chart">
      <mk-box-small-header>{{ObjetivoTotalMensual}}</mk-box-small-header>
      <mk-box-small-content>Objetivo Total</mk-box-small-content>
      <mk-box-small-footer>Para tu viaje</mk-box-small-footer>
    </mk-box-small>
  </div>
</section>

<section class="content paneles">
  <mk-accordion-group>
    <mk-accordion header="Portugal" borderColor="success">

      <div class="col-md-6">
        <p-chart type="line" [data]="chartData"></p-chart>
      </div>
      <label for="">Destino Principal</label>
      <div class="col-md-6">
        <mk-box-info header="Oporto" footer="{{porcentaje}}% completado, te faltan 5 meses!" progressWidth="{{porcentaje}}" backgroundColor="green" iconStyleClass="fa fa-plane">
          {{ObjetivoTotal}}€
        </mk-box-info>
        <label for="">Destinos Sugeridos</label>
        <mk-box-info header="Lisboa" footer="0% completado" progressWidth="0" backgroundColor="yellow" iconStyleClass="fa fa-plane">
          +100€
        </mk-box-info>
        <mk-box-info header="Faro" footer="0% completado" progressWidth="0" backgroundColor="yellow" iconStyleClass="fa fa-plane">
          +150€
        </mk-box-info>
      </div>

    </mk-accordion>
  </mk-accordion-group>

</section>