<h1>¡Te proponesmos tres itinerarios de ahorro!</h1>

<div class="radio">
  <div class="col-md-12">
    <label>
        <input type="radio" name="optradio" [value]="1" [(ngModel)]="ahorro">
      Redondeo a 1€ plazo aproximado de ahorro 11 meses
      
    </label>
  </div>
  <div class="col-md-12">
    <label>
        <input type="radio" name="optradio" [value]="3" [(ngModel)]="ahorro">
      Redondeo a 3€ plazo aproximado de ahorro 4 meses

    </label>
  </div>
  <div class="col-md-12">
      <label>
          <input type="radio" name="optradio" [value]="6" [(ngModel)]="ahorro">
        Redondeo a 6€ plazo aproximado de ahorro 2 meses
  
      </label>
  </div>
</div>