<div class="container steps col-xs-6 col-md-offset-3">
  <h1>¡Te proponesmos tres itinerarios de ahorro!</h1>
  <div class="steps-content">
    <div class="radio">
      <div class="col-md-12">
        <label>
        <input type="radio" name="optradio" value="{{dato1}}" >
      Redondeo a {{dato1}}€ plazo aproximado de ahorro {{periodo}} meses
    </label>
      </div>
      <div class="col-md-12">
        <label>
        <input type="radio" name="optradio" value="{{dato2}}" >
      Redondeo a {{dato2}}€ plazo aproximado de ahorro {{periodo - 2}} meses

    </label>
      </div>
      <div class="col-md-12">
        <label>
          <input type="radio" name="optradio" value="{{dato3}}" >
        Redondeo a {{dato3}}€ plazo aproximado de ahorro {{periodo - 4}} meses

      </label>
      </div>
      <br>
      <br>
      <br>
    </div>



    <a class="btn btn-default">Ahora empieza lo bueno!</a>
  </div>
</div>