<div class="container steps col-xs-6 col-md-offset-3">
  <h1>¿En qué fechas?</h1>
  <div class="steps-content">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-5 control-label" for="fecha">¿Qué dia empieza la aventura?: </label>
        <div class="col-sm-7">
          <input type="date" class="form-control" id="fecha" [(ngModel)]="fecha">
        </div>
      </div>

      <hr>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="fecha">En un periodo de... </label>
        <div class="col-sm-9 radioButtons">

          <div class="radio">
            <label>
            <input type="radio" name="optradio" id="optionsRadios1" [value]="1" [(ngModel)]="periodo">
          1 mes
        </label>
          </div>

          <div class="radio">
            <label>
            <input type="radio" name="optradio" id="optionsRadios2" [value]="3" [(ngModel)]="periodo" checked>
          3 meses
        </label>
          </div>

          <div class="radio">
            <label>
            <input type="radio" name="optradio" id="optionsRadios3" [value]="6" [(ngModel)]="periodo">
          6 meses
        </label>
          </div>

          <div class="radio">
            <label>
            <input type="radio" name="optradio" id="optionsRadios4" [value]="9" [(ngModel)]="periodo">
          9 meses
        </label>
          </div>

          <div class="radio">
            <label>
            <input type="radio" name="optradio" id="optionsRadios5" [value]="12" [(ngModel)]="periodo">
          1 año
        </label>
          </div>

        </div>
      </div>
    </div>

    <br> {{duracion}}

    <br>
    <br>
    <br>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="duration">¿Cuantos dias te tocaras el ombligo?: </label>
      <div class="col-sm-8">
        <input type="range" min="1" max="100" value="10" class="slider" id="duration" [(ngModel)]="ciudad" placeholder="Invernalia">
        <p><span id="demo"></span> Dias</p>
      </div>
    </div>

    <br>
    <button type="button" class="btn btn-default" (click)="go()">No queda nada!</button>
  </div>
</div>