<mk-layout-wrapper *ngIf="auth.isAuthenticated()">

  <app-header *ngIf="auth.isAuthenticated()"></app-header>

  <app-sidebar *ngIf="auth.isAuthenticated()"></app-sidebar>

  <mk-layout-content [ngClass]="{
    'bg-dark app-container':!auth.isAuthenticated(),
  'content-wrapper':auth.isAuthenticated()}">
    <router-outlet></router-outlet>
  </mk-layout-content>

  <app-footer *ngIf="auth.isAuthenticated()"></app-footer>

</mk-layout-wrapper>

<div class="bg-dark app-container" *ngIf="!auth.isAuthenticated()">
  <router-outlet></router-outlet>
</div>